{% extends "base.html" %}
{% block content %}

<script src="/static/dataTables/1.10.20/jquery.dataTables.min.js"></script>
<script src="/static/dataTables/1.10.20/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/dataTables/1.10.20/dataTables.bootstrap4.min.css">
<script src="/static/chartjs/2.9.3/Chart.bundle.min.js"></script>

{% set stats = user.get_statistics() %}
{% set forms = user.get_forms() %}

<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="title_1 delimited">
            {%trans%}User details{%endtrans%}
        </div>
        <table class="table table-sm table-striped">
            <tr>
               <td>{%trans%}Username{%endtrans%}</td>
               <td>{{ user.username }}</td>
            </tr>        
            {% if g.is_root_user_enabled %}
                <tr>
                   <td>{%trans%}Hostname{%endtrans%}</td>
                   <td>{{ user.hostname }}</td>
                </tr>
            {% endif %}
            <tr>
               <td>{%trans%}Is Admin{%endtrans%}</td>
               <td>
                   <div id="toggle_admin" class="btn-group btn-toggle">
                    <button id="admin_true" class="btn btn-xs btn-default {% if user.is_admin() %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="admin_false" class="btn btn-xs btn-default {% if not user.is_admin() %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
                </td>
            </tr>            
            <tr>
               <td>{%trans%}Created{%endtrans%}</td>
               <td>{{ user.created }}</td>
            </tr>
            <tr>
               <td>{%trans%}Language{%endtrans%}</td>
               <td>{{ config['LANGUAGES'][user.language][0] }}</td>
            </tr>
            <tr>
               <td>{%trans%}Email{%endtrans%}</td>
               <td>{{ user.email }}</td>
            </tr>
            <tr>
               <td>{%trans%}Validated email{%endtrans%}</td>
               <td> {% if user.validatedEmail %}
                    <span>{%trans%}True{%endtrans%}</span>
                    {% else %}
                    <span class="highlightedText">{%trans%}False{%endtrans%}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td>{%trans%}Blocked by admin{%endtrans%}</td>
               <td>
                   <div id="toggle_blocked" class="btn-group btn-toggle">
                    <button id="blocked_true" class="btn btn-xs btn-default {% if user.blocked %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="blocked_false" class="btn btn-xs btn-default {% if not user.blocked %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
                   </div>
                </td>
            </tr>
        </table>
        {% if not user.id == g.current_user.id %}
            {% if forms|length %}
            <input class="btn-warning btn btn-sm" type="button" value="{%trans%}Delete user and authored forms{%endtrans%}" onClick="location.href='/admin/users/delete/{{user.id}}'">
            {% else %}
            <input class="btn-warning btn btn-sm" type="button" value="{%trans%}Delete user{%endtrans%}" onClick="location.href='/admin/users/delete/{{user.id}}'">
            {% endif %}
        {% endif %}

    </div>
    <div class="col-md-8">

    <div class="title_1 delimited">
        {%trans%}Statistics{%endtrans%}
    </div>
    <canvas id="usage_chart" height="125"></canvas>

    <div class="title_1 delimited" style="margin-top:2em">
        {%trans%}Forms{%endtrans%}
    </div>
    
    <table id="forms" style="display:none" class="table table-sm table-striped">
        <thead>
            <tr>
                <th>{%trans%}Name{%endtrans%}</th>
                <th>{%trans%}Created{%endtrans%}</th>
                <th>{%trans%}Author{%endtrans%}</th>
                <th>{%trans%}Editors{%endtrans%}</th>
                <th>{%trans%}Public{%endtrans%}</th>
                <th>{%trans%}Entries{%endtrans%}</th>
            </tr>
        </thead>
        
        {% for form in forms %}
        <tr>
           <td><a href="/forms/view/{{form.id}}">{{form.slug}}</a></td>
           <td>{{form.created}}</td>
           <td>
                {% if form.is_author(user) %}
                    {%trans%}True{%endtrans%}
                {% else %}
                    {%trans%}False{%endtrans%}
                {% endif %}
            </td>
           <td>{{form.editors|length}}</td>
           <td>{{form.is_public()}}</td>
           <td>{{form.get_entries().count()}}</td>
        </tr>
        {% endfor %}
    </table>
    
    </div>
</div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
$(document).ready(function() {
    $('#forms').DataTable({
        "language": {
            "url": "/static/dataTables-languages/{{g.current_user.language}}.js"
        },
        "initComplete": function(settings, json) {
            $("#forms").show();
        },
        "order": [[1, 'desc']]
    });
});
document.getElementById('toggle_blocked').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-blocked/{{ user.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.blocked == true) {
                $('#blocked_true').addClass('btn-success');
                $('#blocked_false').removeClass('active btn-primary');
            }
            else if (data.blocked == false) {
                $('#blocked_true').removeClass('btn-success');
                $('#blocked_false').addClass('btn-primary');
            }
        }
    });
});
document.getElementById('toggle_admin').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/users/toggle-admin/{{ user.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.admin == true) {
                $('#admin_true').addClass('btn-success');
                $('#admin_false').removeClass('btn-primary');
            }
            else if (data.admin == false) {
                $('#admin_true').removeClass('btn-success');
                $('#admin_false').addClass('btn-primary');
            }
        }
    });
});
var ctx = document.getElementById('usage_chart');
var time_chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: [
            {
                label: ["{{ _('Entries')}}"],
                data: {{ stats['entries']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(182, 0, 181, 0.7)",
                
            },
            {
                label: ["{{ _('Forms')}}"],
                data: {{ stats['forms']|tojson }},
                fill: true,
                borderWidth: 0,
                backgroundColor: "rgba(233, 132, 0, 0.7)",
            }
        ],
    },
    options: {
        animation: false,
        scales: { yAxes: [{
                    ticks: { beginAtZero: true, precision: 0 }
                }]
        },
        legend: {
            onHover: function (e) { e.target.style.cursor = 'pointer' },
            onLeave: function (e) { e.target.style.cursor = 'default' }
        }
    }
});
</script>
  
{% endblock %}
