{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
        
    <div class="col-md-5">

        <div class="title_1 delimited">{%trans%}Change password{%endtrans%}</div>
        
        <form method="POST">
            {{ wtform.csrf_token }}
            <p>
                {{ wtform.password.label }}<br />
                <span class="hint">{%trans%}Use a passphrase, with spaces{%endtrans%}</span>
                {{ wtform.password(class_="form-control", placeholder=_('eg: No holidays this year')) }}
                {% for error in wtform.password.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
            <p>
                {{ wtform.password2.label }}<br />
                {{ wtform.password2(class_="form-control", placeholder=_('Another eg: My dog has fleas')) }}
                {% for error in wtform.password2.errors %}
                    <span class="formError">{{ error }}</span><br />
                {% endfor %}
            </p>
            <div class="form-actions">
            <input class="btn-success btn" type="submit" value="{%trans%}Reset password{%endtrans%}">
            </div>
        </form>
    </div>

</div>
</div>
 
{% endblock %}
