{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
        <div class="title_1">
            {%trans%}Hello{%endtrans%} {{ g.current_user.username }} !!
        </div>
        
        {% if not g.current_user.validatedEmail %}
        <div class="row">
            <div class="col title_2">
                {%trans%}Your email has not been validated{%endtrans%}
            </div>
            <div class="col-auto">
                <a class="btn btn-sm btn-success" role="button" href="/user/send-validation">
                    {%trans%}Validate my email{%endtrans%}
                </a>
            </div>
        </div>
        <p>&nbsp;</p>
        {% endif %}

        <table class="table table-sm sparse-table">
            <tr>
                <td>{%trans%}Email address{%endtrans%}</td>
                <td>
                {{ g.current_user.email }}
                </td>
                <td class="text-right">
                <a class="btn btn-primary btn-xs" role="button" href="/user/change-email">{%trans%}Change{%endtrans%}</a>
                </td>
            </tr>
            <tr>
                <td>{%trans%}Password{%endtrans%}</td>
                <td>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                </td>
                <td class="text-right">
                <a class="btn btn-primary btn-xs" role="button" href="/user/reset-password">{%trans%}Change{%endtrans%}</a>
                </td>
            </tr>
            </tr>
            <tr>
                <td>{%trans%}Preferred language{%endtrans%}</td>
                <td>{{ config['LANGUAGES'][g.current_user.language][0] }}</td>
                <td class="text-right">
                <a class="btn btn-primary btn-xs" role="button" href="/user/change-language">{%trans%}Change{%endtrans%}</a>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
        <div class="title_2 delimited">
            {%trans%}By default{%endtrans%}
        </div>
        <table class="table table-sm sparse-table">
            <tr>
                <td>
                    {%trans%}New entry notification default{%endtrans%}
                </td>
                <td class="text-right">
                    <div id="toggle_new_entry_notification" class="btn-group btn-toggle">
                    <button id="new_entry_notification_true" class="btn btn-xs btn-default {% if user.new_entry_notification_default %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="new_entry_notification_false" class="btn btn-xs btn-default {% if not user.new_entry_notification_default %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
                    </div>
                </td>
            </tr>
            <tr style="display:none">
                <td>
                    {%trans%}Consentment texts{%endtrans%}
                </td>
                <td class="text-right">
                    <a href="/user/{{g.current_user.username}}/consent" class="btn btn-xs btn-primary">{%trans%}Edit{%endtrans%}</a>
                </td>
            </tr>
        </table>
        
{% if g.is_admin %}
        <div id="admin_settings" class="title_2" style="margin-top:2em">
            {%trans%}My admin settings{%endtrans%}
        </div>

        <table class="table table-sm">
            <tr>
                <td>{%trans%}Notify me when new user has registered{%endtrans%}</td>
                <td class="text-right">
                    <div id="toggle_notify_newuser" class="btn-group btn-toggle">
                    <button id="notify_newuser_true" class="btn btn-xs btn-default {% if user.admin['notifyNewUser'] %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="notify_newuser_false" class="btn btn-xs btn-default {% if not user.admin['notifyNewUser'] %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
                    </div>
               </td>
            </tr>
            <tr>
                <td>{%trans%}Notify me when new form has been created{%endtrans%}</td>
                <td class="text-right">
                    <div id="toggle_notify_newform" class="btn-group btn-toggle">
                    <button id="notify_newform_true" class="btn btn-xs btn-default {% if user.admin['notifyNewForm'] %}btn-success{% endif %}">{%trans%}True{%endtrans%}</button>
                    <button id="notify_newform_false" class="btn btn-xs btn-default {% if not user.admin['notifyNewForm'] %}btn-primary{% endif %}">{%trans%}False{%endtrans%}</button>
                    </div>
               </td>
            </tr>
        </table>
{% endif %}
        <hr />
        <div class="row" style="margin-top: 2em">
            <div class="col title_2">
                {%trans%}Delete my account{%endtrans%}
            </div>
            <div class="col-auto">
                <a  class="btn btn-sm btn-warning"
                    role="button"
                    href="/user/delete-account/{{ g.current_user.id }}">
                    {%trans%}Delete{%endtrans%}
                </a>
            </div>
        </div>

    </div>
</div>
</div>


<script>
var csrftoken = "{{ csrf_token() }}";
document.getElementById('toggle_new_entry_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "/user/toggle-new-entry-notification",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.default == true) {
                $('#new_entry_notification_true').addClass('btn-success');
                $('#new_entry_notification_false').removeClass('btn-primary');
            }
            else if (data.default == false) {
                $('#new_entry_notification_true').removeClass('btn-success');
                $('#new_entry_notification_false').addClass('btn-primary');
            }
        }
    });
});
{% if g.is_admin %}
document.getElementById('toggle_notify_newuser').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/toggle-newuser-notification",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notify == true) {
                $('#notify_newuser_true').addClass('btn-success');
                $('#notify_newuser_false').removeClass('btn-primary');
            }
            else if (data.notify == false) {
                $('#notify_newuser_true').removeClass('btn-success');
                $('#notify_newuser_false').addClass('btn-primary');
            }
        }
    });
});
document.getElementById('toggle_notify_newform').addEventListener('click', function(evt){
    $.ajax({
        url : "/admin/toggle-newform-notification",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notify == true) {
                $('#notify_newform_true').addClass('btn-success');
                $('#notify_newform_false').removeClass('btn-primary');
            }
            else if (data.notify == false) {
                $('#notify_newform_true').removeClass('btn-success');
                $('#notify_newform_false').addClass('btn-primary');
            }
        }
    });
});
{% endif %}
</script>

{% endblock %}
